{% extends "base_notary.html" %}

{% block contenido %}
<div class="row">
    <article class="col s12 center-align">

        {% if opc == 0 %}
        <p>
            <h2>Welcome {{nombre}} !</h2>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
        {% endif %}



        {% if opc == 1 %}
        <h2>Contracts to sign</h2>
        {% endif %}



        {% if opc == 2 %}
        <h2>Contracts seccion - Public notary</h2>
        {% endif %}



    </article>
</div>
{% endblock %}